@model Reader

@{
    ViewData["Title"] = "Add a lesson";
}

<div class="text-center">
    <h1 class="display-4">Add a lesson</h1>
</div>

@using (Html.BeginForm("SubmitAddingLesson", "Class", new { slot = ViewData["slot"], chosenClass = ViewData["chosen_class"] })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger"} )

    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Class" )'">Cancel</button><br><br> @* TODO: Index with class id *@

    <strong>@Html.LabelFor(model=>model.NewLesson.Classroom, "Classroom")</strong><br>
    @Html.DropDownListFor(model=>model.NewLesson.Classroom, new SelectList(Model.Classrooms, "Number", "Number"), "Select the classroom", new {htmlAttributes = new {@class="form-control"}})<br><br>
    <strong>@Html.LabelFor(model=>model.NewLesson.Subject, "Subject")</strong><br>
    @Html.DropDownListFor(model=>model.NewLesson.Subject, new SelectList(Model.Subjects), "Select the subject", new {htmlAttributes = new {@class="form-control"}})<br><br>
    <strong>@Html.LabelFor(model=>model.NewLesson.Teacher, "Teacher")</strong><br>
    @Html.DropDownListFor(model=>model.NewLesson.Teacher, new SelectList(Model.Teachers, "Surname", "Surname"), "Select the teacher", new {htmlAttributes = new {@class="form-control"}})<br><br>

    <button type="submit" class="btn btn-primary">Add</button>
}