@using System;
@model Reader

@{
    ViewData["Title"] = "Edit the lesson";
}

<div class="text-center">
    <h1 class="display-4">Edit the lesson</h1>
</div>

@{ int lessonToEditId = (int)ViewData["lesson_to_edit_id"]; 
    var classesOptions = ViewData["classes_options"] as List<Class>;
    var subjects = ViewData["subjects"] as List<Subject>;
    var teachersOptions = ViewData["teachers_options"] as List<Teacher>; 
    var selectedClass = (int)ViewData["selected_class"];
    var selectedSubject = (int)ViewData["selected_subject"];
    var selectedTeacher = (int)ViewData["selected_teacher"]; }

@using (Html.BeginForm("ValidateEditedData", "Classroom", new { id = lessonToEditId, currentTimestamp = (DateTime)ViewData["lesson_timestamp"]} )) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger"} )

    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Classroom" )'">Cancel</button><br><br>

    <strong>@Html.LabelFor(model=>model.EditedLesson.Class, "Class")</strong><br>
    @Html.DropDownListFor(model=>model.EditedLesson.Class, new SelectList(classesOptions, "Id", "Name", selectedClass), "Select the class", new {htmlAttributes = new {@class="form-control"}})<br><br>
    <strong>@Html.LabelFor(model=>model.EditedLesson.Subject, "Subject")</strong><br>
    @Html.DropDownListFor(model=>model.EditedLesson.Subject, new SelectList(subjects, "Id", "Name", selectedSubject), "Select the subject", new {htmlAttributes = new {@class="form-control"}})<br><br>
    <strong>@Html.LabelFor(model=>model.EditedLesson.Teacher, "Teacher")</strong><br>
    @Html.DropDownListFor(model=>model.EditedLesson.Teacher, new SelectList(teachersOptions, "Id", "Surname", selectedTeacher), "Select the teacher", new {htmlAttributes = new {@class="form-control"}})<br><br>

    <button type="submit" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteLesson", "Classroom", new { id = lessonToEditId, currentTimestamp = (DateTime)ViewData["lesson_timestamp"] })'">Delete</button>
}