@model Reader

@{
    ViewData["Title"] = "Edit the lesson";
}

<div class="text-center">
    <h1 class="display-4">Edit the lesson</h1>
</div>

@{ int lessonToEditIndex = (int)ViewData["lessonToEditIndex"]; }

@using (Html.BeginForm("ValidateEditedData", "Classroom", new { editedLesson = Model.EditedLesson, id = lessonToEditIndex})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger"} )

    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Classroom" )'">Cancel</button><br><br> @* TODO: Index with class id *@

    <strong>@Html.LabelFor(model=>model.EditedLesson.Class, "Class")</strong><br>
    @Html.DropDownListFor(model=>model.EditedLesson.Class, new SelectList(Model.ClassesOptions, "Name", "Name", Model.Lessons[lessonToEditIndex].Class), "Select the class", new {htmlAttributes = new {@class="form-control"}})<br><br>
    <strong>@Html.LabelFor(model=>model.EditedLesson.Subject, "Subject")</strong><br>
    @Html.DropDownListFor(model=>model.EditedLesson.Subject, new SelectList(Model.Subjects, Model.Lessons[lessonToEditIndex].Subject), "Select the subject", new {htmlAttributes = new {@class="form-control"}})<br><br>
    <strong>@Html.LabelFor(model=>model.EditedLesson.Teacher, "Teacher")</strong><br>
    @Html.DropDownListFor(model=>model.EditedLesson.Teacher, new SelectList(Model.TeachersOptions, "Surname", "Surname", Model.Lessons[lessonToEditIndex].Teacher), "Select the teacher", new {htmlAttributes = new {@class="form-control"}})<br><br>

    <button type="submit" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteLesson", "Classroom", new { id = lessonToEditIndex })'">Delete</button>
}